html {
  font-size: 62.5%;
}

body {
  font-family: 'PT Mono', monospace;
  font-size: 1.6rem;
}

a {
  color: #131313;
}

button:hover {
  cursor: pointer;
}

.border {
   border: 0.15rem dotted #131313;
}

/* Grids */

.layout {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, min-content);
  grid-template-areas: 
    "header header"
    "garden info"
    "footer footer";
}

/* Header */
.header {
  grid-area: header;
  text-align: center;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(2, min-content);
  grid-template-areas:
  "header-left header-right"
  "header-centre header-centre"
}

.header-centre {
  grid-area: header-centre;
}

.header-right {
  grid-area: header-right;
  text-align: right;
  margin: 0.8rem 1.2rem 0;
}

.header-right a {
  margin-left: 0.8rem;
}

.header-left {
  grid-area: header-left;
  text-align: left;
  margin: 0.8rem 0 0 1.2rem;
}

.button {
  color: #131313;
  font-size: 2.4rem;
  font-family: 'Bangers';
}

.button--big {
  height: 4.5rem;
  width: 16.8rem;
  margin: 2rem auto 5.2rem;
}

.button--small {
  /* font-family: 'PT Mono', monospace; */
  height: 3.2rem;
  margin: 0.4rem auto;
}

.button:hover {
  color: white;
  background-color: #131313;
}

/* Garden */
.garden {
  grid-area: garden;
  justify-self: center;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: repeat(3, min-content);
  grid-template-areas: 
    ". col-name"
    "row-name-borders borders-grid"
    "row-name-decking decking-grid";
}

.borders-grid {
  grid-area: borders-grid;
  display: grid;
  grid-template-columns: repeat(16, 3.5rem);
  grid-template-rows: repeat(16, 3.5rem);
  grid-template-areas:
    "A1 B1 C1 D1 E1 F1 G1 H1 J1 K1 L1 M1 N1 P1 Q1 R1"
    "A2 B2 C2 D2 E2 F2 G2 H2 J2 K2 L2 M2 N2 P2 Q2 R2"
    "A3 B3 C3 D3 E3 F3 G3 H3 J3 K3 L3 M3 N3 P3 Q3 R3"
    "A4 B4 C4 grass grass grass grass grass grass grass grass grass grass P4 Q4 R4"
    "A5 B5 C5 grass grass grass grass grass grass grass grass grass grass P5 Q5 R5"
    "A6 B6 C6 grass grass grass grass grass grass grass grass grass grass P6 Q6 R6"
    "A7 B7 C7 grass grass grass grass grass grass grass grass grass grass P7 Q7 R7"
    "A8 B8 C8 grass grass grass grass grass grass grass grass grass grass P8 Q8 R8"
    "A9 B9 C9 grass grass grass grass grass grass grass grass grass grass P9 Q9 R9"
    "A10 B10 C10 grass grass grass grass grass grass grass grass grass grass P10 Q10 R10"
    "A11 B11 C11 grass grass grass grass grass grass grass grass grass grass P11 Q11 R11"
    "A12 B12 C12 grass grass grass grass grass grass grass grass grass grass P12 Q12 R12"
    "A13 B13 C13 grass grass grass grass grass grass grass grass grass grass P13 Q13 R13"
    "A14 B14 C14 grass grass grass grass grass grass grass grass grass grass P14 Q14 R14"
    "A15 B15 C15 grass grass grass grass grass grass grass grass grass grass P15 Q15 R15"
    "A16 B16 C16 grass grass grass grass grass grass grass grass grass grass P16 Q16 R16";
}

.decking-grid {
  margin-top: 0.8rem;
  grid-area: decking-grid;
  display: grid;
  grid-template-columns: repeat(16, 3.5rem);
  grid-template-rows: repeat(3, 3.5rem);
  grid-template-areas: 
    "A17 B17 C17 D17 E17 F17 G17 H17 J17 K17 L17 M17 N17 P17 Q17 R17"
    "A18 B18 C18 D18 E18 F18 G18 H18 J18 K18 L18 M18 N18 P18 Q18 R18"
    "A19 B19 C19 D19 E19 F19 G19 H19 J19 K19 L19 M19 N19 P19 Q19 R19";
}

.col-name {
  background-color: ghostwhite;
  grid-area: col-name;
  display: grid;
  grid-template-columns: repeat(16, 3.5rem);
  grid-template-rows: 3.5rem;
}

.row-name-borders {
  background-color: ghostwhite;
  grid-area: row-name-borders;
  display: grid;
  grid-template-rows: repeat(16, 3.5rem);
  grid-template-columns: 3.5rem;
}

.row-name-decking {
  background-color: ghostwhite;
  margin-top: 0.8rem;
  grid-area: row-name-decking;
  display: grid;
  grid-template-rows: repeat(3, 3.5rem);
  grid-template-columns: 3.5rem;
}

.name-item {
  text-align: center;
  padding: 1rem;
}

/* elements */
.grass {
  position: relative;
  border-bottom: none;
  grid-area: grass;
}

.grass img {
    width: 90%;
    padding: 1.8rem;
}

.grid-plant {
  border-radius: 100%;
}
.grid-plant:focus {
  outline: none;
  box-shadow: 0 0 1rem;
}

.A {
  border: 0.2rem dotted #131313;
}

.P {
  border: 0.1rem solid #131313;
}

.snips {
  top: 5%;
  left: 42%;
  height: 6rem;
  width: 6rem;
  position: absolute;
  opacity: 0;
}

/* Footer */
.footer {
  grid-area: footer;
  text-align: center;
}

.footer-content {
  margin-top: 5.6rem;
}

.footer-content a {
  margin: 0 1rem;
}

/* Data table */
table {
  margin: 0 4rem 2rem 0;
  font-size: 1.4rem;
  grid-area: info;
  border-collapse: collapse;
}

td, th {
  padding: 0.5rem;
  text-align: left;
}

th {
  background-color: ghostwhite;
  border-bottom: 0.2rem dotted #131313;
}

td {
  border: 0.05rem dotted #131313;
}

/* Info modal */
.modal {
  grid-area: info;
  justify-self: center;
  width: 60%;
  margin: 3.6rem 3rem;
}

.modal-content {
  padding: 2.4rem;
  border: 2rem solid ghostwhite;
  text-align: center;
}

.modal-image img {
  max-width: 80%;
  margin-top: 1.8rem;
}

.modal-title {
  font-family: 'Bangers';
  margin: 2rem 1.2rem;
  font-size: 4.4rem;
}

.modal-common-name {
  font-size: 2.8rem;
}

.modal-perennial-annual {
  font-size: 2.4rem;
  margin: 1.2rem auto;
}

.modal-link {
  margin: 2rem auto 2.4rem;
}

.form-body__label {
  vertical-align: top;
  text-align: right;
  margin-right: 0.8rem;
}

.form-body__input {
  text-align: left;
  margin-left: 0.8rem;
}

.form-body {
  margin: 1.4rem 1.2rem;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-row-gap: 1.4rem;
  text-align: left;
}

/* Little bit of responsiveness */
@media (max-width: 520px), screen and (max-device-width: 520px) {
  html {
    font-size: 100%;
  }

  body {
    font-size: 2.4rem;
  }

  .layout {
    display: grid;
    grid-template-rows: repeat(4, min-content);
    grid-template-columns: none;
    grid-template-areas: 
      "header"
      "garden"
      "info"
      "footer";
  }

  .modal {
    margin: 5.7rem auto;
  }

  table {
    margin: 5.7rem auto;
  }
}

.hidden {
  display: none;
}

.colour-display {
  text-align: center;
}
